<h1>Welcome to Genrify™!</h1>
<p>Genrify is a purely conceptual music application. It is not inspired by anything in particular, we swear.</p>
<p>All data was randomly generated using the <a href="https://github.com/faker-ruby" target="_blank">Faker gem.</a></p>
<p>Genrify was created by Kyle Cole and Matt Heavner at the <a href="https://flatironschool.com/" target="_blank">Flatiron School</a>.</p>