<h1>Welcome to Genrify™!</h1>
<p>Genrify is a conceptual music application. It's not inspired by anything in particular, we swear.</p>
<p>All data was randomly generated using the <a href="https://github.com/faker-ruby">Faker gem.</a></p>